# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/

# R
.Rproj.user
.Rhistory
.RData
.Rprofile
.lintr

# OS
.DS_Store

# Temporary/cache files
*.npy
*.log

# Specific files to ignore
/ML_EVO2_Exercise.pdf